.top-headline {
	top: 4.75em;
}
#explorerContainer h3 {
	text-align: center;
	margin: 0;
}
.height-100p {
	height: 100%;
}
.width-25p {
	width: 25%;
}
.width-50p{
	width: 50%;
}
.position-left {
	float:left;
}
.position-right{
	float:right;
}
.position-middle{
	float:left;
}
.flex-column-0 {
	display: flex;
	flex-direction: column;
}
.flex-height-asPos{
	flex: 1 1 auto;
}
.color-888 {
	color: #888;
}
.color-border-888 {
	border-color: #888;
}
.color-border-444 {
	border-color: #444;
}
.color-border-main {
	border-color: #D5DFF9;
}
.whiteboard {
	background-color: #FFF;
	color: #444;

	white-space: nowrap;
}
.niceScrollY {
	position: relative;
}
.fGroup-0{
	float: left;
	margin-left: 5px;
}
.fGroup {
	margin-left: 15px;
}
.folder {
	margin: 0; padding: 0;
}
.folder i {
	margin-right: 5px;
	color: #888;
	font-size: 14px;
}
.folder i.nope {
	visibility: hidden;
}
.folder i:nth-child(2){
	width: 15px;
}
